fastapi
uvicorn
pandas
numpy
chromadb
sentence-transformers
tiktoken
scikit-learn
python-multipart
pydantic
python-dateutil
pytz
regex
requests
tenacity
tqdm
typing-extensions
urllib3
watchdog
wrapt
langchain
langchain-text-splitters
nltk
beautifulsoup4
lxml
spacy
